<div class="container">
  <h4 class="mt-2 p-2 text-center bg-secondary text-white col-md-12">仕事依頼一覧</h4>
  <table class="table">
    <thead class="thead-light">
      <th  scope="col" style="width: 5%">依頼ID</th>
      <th  scope="col" style="width: 5%">依頼名</th>
      <th  scope="col" style="width: 10%">依頼内容</th>
      <th scope="col" style="width: 5%">単価格</th>
      <th scope="col" style="width: 5%">ステータス</th>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td>
          <%= link_to companies_company_job_path(@company,job.id) do %>
            <%= job.title %>
          <% end %>
        </td>
        <td><%= job.description %></td>
        <td><%= job.unit_price %></td>
        <td>
          <% if job.job_status == true %>
            <p class="text-success ">受付中</p>
          <% else %>
            <p class="text-secondary ">締切中</p>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to '仕事の依頼を追加', new_companies_company_job_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5 text-center">
      <h3>タグリスト</h3>
        <% @tag_list.each do |tag| %>
          <i class="fas fa-solid fa-tags"></i><%= link_to tag.tag_name, companies_tag_jobs_path(tag_id: tag.id) %>
          <%= "(#{tag.jobs.count})" %>
        <% end %>
    </div>
  </div>
</div>

