<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mt-2 p-2 text-center bg-secondary text-white">会社一覧(管理者用）</h3>
    </div>
  </div>

　<div class="row">
　  <table class="table">
　    <thead class="thead-light">
　      <th scope="col" style="width: 5%">会社ID</th>
　      <th scope="col" style="width: 5%"></th>
　      <th scope="col" style="width: 5%">会社名</th>
　      <th scope="col" style="width: 5%">電話番号</th>
　      <th scope="col" style="width: 5%">ご依頼仕事数</th>
　      <th scope="col" style="width: 5%">登録日</th>
　    </thead>
　    <% @companies.each do |company| %>
　    <tbody>
　      <tr>
　        <td><%= company.id %></td>
　        <td><%= image_tag company.get_company_image(100,100) %></td>
　        <td><%= link_to admins_company_path(company) do %>
　              <%= company.company_name %>
　            <% end %>
　        </td>
　        <td><%= company.phone_number %></td>
　       <td><%= company.jobs.count %>件</td>
　       <td><%= company.created_at %></td>
　      </tr>
　    </tbody>
　    <% end %>
　  </table>
　</div>
　<div class="row">
    <div class="col-md-12 text-right mt-5">
　　　<%= link_to 'ホームに戻る', admins_admins_path %>
    </div>
  </div>

</div>