<div class="container">
  <div class="row">
    <h4 class="col-md-12 mt-2 text-center bg-secondary text-white">会社詳細（管理者用）</h4>
  </div>
  <div class="row">
    <div class="col-md-2 offset-md-1 text-center mt-4">
      <%= image_tag @company.get_company_image(200,200) %>
    </div>
    <div class="col-md-9 mt-4">
      <div>
        <label><strong>会社名：</strong></label>
        <p style="display:inline;"><<%= @company.company_name %></p>
      </div>

      <div class="mt-2">
        <label><strong>住所：</strong></label>
        <p style="display:inline;"><%= @company.address %></p>
      </div>
      <div class="mt-2">
        <label><strong>お問い合わせ電話番号：</strong></label>
        <p style="display:inline;"><%= @company.phone_number %></p>
      </div>

      <div class="mt-2">
        <label><strong>依頼数：</strong></label>
        <p style="display:inline;"><%= @jobs.count %></p>
      </div>

      <div class="mt-2">
        <label><strong>ホームページURL：</strong></label>
        <p style="display:inline;"><%= @company.home_page %></p>
      </div>

      <div class="mt-2">
        <label><strong>概要:</strong></label>
        <p style="display:inline;"><%= @company.overview %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center mt-5">
　　　<%= link_to '仕事一覧に戻る', admins_companies_path, class: "btn btn-success" %>
    </div>
  </div>
</div>