<div class="container">

  <div class="row">
    <div class="col-md-12 mt-2 text-center title">
      <h2>ログイン画面</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 mt-2 text-center content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <!--<div class="field row">-->
        <!--  <div class="col-md-6 ">-->
        <!--    <label>姓</label>-->
        <!--    <p><%#= f.text_field :name_family %></p>-->
        <!--  </div>-->
        <!--  <div class="col-md-6 ">-->
        <!--    <label>名</label>-->
        <!--    <p><%#= f.text_field :name_first %></p>-->
        <!--  </div>-->
        <!--</div>-->

        <!--<div class="field row">-->
        <!--  <div class="col-md-6 ">-->
        <!--    <label>セイ</label>-->
        <!--    <p><%#= f.text_field :name_family_kana %></p>-->
        <!--  </div>-->
        <!--  <div class="col-md-6 ">-->
        <!--    <label>メイ</label>-->
        <!--    <p><%#= f.text_field :name_first_kana %></p>-->
        <!--  </div>-->
        <!--</div>-->

        <!--<div class="field">-->
        <!--  <%#= f.label :phone_number, '電話番号' %><br />-->
        <!--  <%#= f.text_field :phone_number %>-->
        <!--</div>-->
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
