<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="mt-2 p-2 text-center bg-secondary text-white">Task-Match</h3>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 mt-5">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5 class="panel-title text-center">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">今日のニュース</a>
            </h5>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              <hr>
              <div id="result">no information...</div>
                <script>
                  var f = function(){
                    $.ajax({
                      type: 'GET',
                      url: '/news/data'
                    });
                  };
                  f();
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="row">
      <div class="col-md-6 text-center">
        <button class="button"><%= link_to '会社一覧', companies_path, class:"text-dark" %></button>
      </div>
      <div class="col-md-6 text-center">
        <button class="button"><%= link_to '仕事依頼一覧', jobs_path, class:"text-dark" %></button>
      </div>
    </div>
  <% elsif companies_company_signed_in? %>
    <div class="row">
      <div class="col-md-6 text-center">
        <button class="button"><%= link_to '会社一覧', companies_path, class:"text-dark" %></button>
      </div>
      <div class="col-md-6 text-center">
        <button class="button"><%= link_to '仕事依頼一覧', jobs_path, class:"text-dark" %></button>
      </div>
    </div>
  <% else %>
    <div class="row">
      <div class="col-md-4 text-center">
        <button class="button"><%= link_to '会社一覧', companies_path, class:"text-dark" %></button>
      </div>
      <div class="col-md-4 text-center">
        <button class="button"><%= link_to 'ログイン', new_user_session_path, class:"text-dark" %></button>
      </div>
      <div class="col-md-4 text-center">
        <button class="button"><%= link_to '仕事依頼一覧', jobs_path, class:"text-dark" %></button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center mt-2">
        <button class="button"><%= link_to '会社管理者の方はこちら', new_companies_company_session_path, class:"text-dark" %></button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 text-center mt-2">
        <button class="button"><%= link_to 'ゲストログイン（顧客側閲覧用）', users_guest_sign_in_path, class:"text-dark", method: :post %></button>
      </div>
      <div class="col-md-6 text-center mt-2">
        <button class="button"><%= link_to 'ゲストログイン（会社側閲覧用）', companies_companies_guest_sign_in_path, class:"text-dark", method: :post %></button>
      </div>
    </div>
  <% end %>
</div>



