<h2>会社情報編集</h2>

<%= form_with model: @company, url: companies_company_path, method: :patch do |f| %>

<%= f.text_field :company_name %>
<%= f.email_field :email %>
<%= f.text_field :address %>
<%= f.text_field :phone_number %>
<%= f.text_field :overview %>
<%= f.text_field :home_page %>

<%= f.submit "登録", class: "btn btn-primary" %>

<% end %>