<div class="container">
  <div class="row">
    <h4 class="col-md-12 mt-2 text-center bg-secondary text-white">会社詳細</h4>
  </div>
  <div class="row">
    <div class="col-md-6 text-center mt-4">
      <%= image_tag @company.get_company_image(200,200) %>
    </div>
    <div class="col-md-6 text-left mt-4">
      <div>
        <label><strong>会社名：</strong></label>
        <p style="display:inline;"><%= @company.company_name %></p>
      </div>

      <div class="mt-2">
        <label><strong>住所：</strong></label>
        <p style="display:inline;"><%= @company.address %></p>
      </div>
      <div class="mt-2">
        <label><strong>お問い合わせ電話番号：</strong></label>
        <p style="display:inline;"><%= @company.phone_number %></p>
      </div>

      <div class="mt-2">
        <label><strong>依頼数：</strong></label>
        <p style="display:inline;"><%= @jobs.count %></p>
      </div>

      <div class="mt-2">
        <label><strong>ホームページURL：</strong></label>
        <p style="display:inline;"><%= @company.home_page %></p>
      </div>

      <div class="mt-2">
        <label><strong>概要:</strong></label>
        <p style="display:inline;"><%= @company.overview %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <h4 class="mt-5 text-center col-md-12">仕事依頼一覧</h4>
  </div>

  <div class="row">
    <table class="table">
      <thead class="thead-light">
        <th  scope="col" style="width: 5%">依頼ID</th>
        <th  scope="col" style="width: 5%">依頼名</th>
        <th scope="col" style="width: 5%">単価格</th>
        <th scope="col" style="width: 5%">ステータス</th>
      </thead>
      <tbody>
      <% @jobs.each do |job| %>
        <tr>
          <td class="bg-light"><%= job.id %></td>
          <td class="bg-light">
            <%= link_to job_path(job) do %>
              <%= job.title %>
            <% end %>
          </td>
          <td class="bg-light"><%= job.unit_price %></td>
          <td class="bg-light">
            <% if job.job_status == true %>
              <p class="text-success ">受付中</p>
            <% else %>
              <p class="text-secondary ">締切中</p>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>




  <div class="row">
    <div class="col-md-12 text-center mt-5">
      <%= link_to '仕事依頼一覧', jobs_path, class: "btn btn-success" %>
　　　<%= link_to '仕事一覧に戻る', companies_path, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
















