<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>新規受付画面</h1>
    </div>
    <div class="col-12 mt-3 content">
      <%= form_with model: @order, url: user_orders_path(current_user, job: @job), local: true, class: 'form' do |f| %>
      <div class="day form-group">
        <%= f.label :day, '日付' %>
        <%= f.text_field :day, class: 'form-control', value: @day, readonly: true %>
      </div>
      <div class="time form-group">
        <%= f.label :time, '時間' %>
        <%= f.text_field :time, class: 'form-control', value: @time, readonly: true %>
      </div>
　　　  <%#= f.hidden_field :job_id, value: @job_id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :start_time, value: @start_time %>
      <div class="submit">
        <%= f.submit value: '確定する', class: 'btn btn-primary mx-auto d-block' %>
      </div>
      <% end %>
    </div>
    <div class="col-12 text-right">
      <%= link_to '戻る', job_path(@job.id) %>
    </div>
  </div>
</div>