<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>受付詳細画面</h1>
      <h3>ありがとうございます。<br />
      この内容で受け付けました。
      </h3>
    </div>
    <div class="col-12 mt-3 text-center content">

      <div>
        <label><strong>会社名：</strong></label>
        <p style="display:inline;"><%= @job.company.company_name %></p>
      </div>

      <div>
        <label><strong>依頼タイトル：</strong></label>
        <p style="display:inline;"><%= @job.title %></p>
      </div>

      <div>
        <label><strong>日付：</strong></label>
        <p style="display:inline;"><%= @order.day %></p>
      </div>
      <div>
        <label><strong>時間：</strong></label>
        <p style="display:inline;"><%= @order.time %></p>
      </div>
    </div>
    <div class="col-12 text-right">
      <%= link_to 'マイページへ', user_path(current_user, @order.id), class: 'btn btn-primary text-white' %>
    </div>
  </div>
</div>