<div class="container">
	<div class="row">
  <table class="table table-striped">
		<h2>登録情報</h2>
		 <p><%= link_to '編集する',edit_user_path(current_user.id) %></p>
		 <p><%= link_to 'ホームに戻る', root_path %></p>

		<tr>
			<th>氏名</th>
			<td><%= @user.name_family %>
				<%= @user.name_first %>
			</td>
		</tr>
		<tr>
			<th>カナ</th>
			<td><%= @user.name_family_kana %>
				<%= @user.name_first_kana %>
			</td>
		</tr>
		<tr>
			<th>ニックネーム</th>
			<td><%= @user.handle_name %>
			</td>
		</tr>
		<tr>
			<th>郵便番号</th>
			<td><%= @user.postal_code %></td>
		</tr>
		<tr>
			<th>住所</th>
			<td><%= @user.address %></td>
		</tr>
		<tr>
			<th>電話番号</th>
			<td><%= @user.phone_number %></td>
		</tr>
		<tr>
			<th>メールアドレス</th>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<th>プロフィール</th>
			<td><%= @user.profile %></td>
		</tr>
  </table>


  <div class="col-12 mt-3 text-center mx-auto">
    <h3>予約一覧</h3>
      <table class="table">
        <thead>
          <tr>
          	<th scope="col">依頼タイトル</th>
            <th>予約日</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @orders.each do |order| %>
          <td><%= link_to job_path(order.job.id) do %>
          	    <%= order.job.title %>
          	  <% end %>
          	</td>
          <td>
            <%= order.day %>
            <%= order.time %>
          </td>
          <td>
            <%= link_to '削除', user_order_path(current_user, order.id), method: :delete, data: { confirm: "削除してよろしいですか？", commit: "削除する", cancel: "やめる", title: "ご確認ください" } %>
          </td>
          </tr>
        <% end %>
        <% if @orders.blank? %>
          <tr>
            <td>予約はありません。</td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>