<!DOCTYPE html>
<html>
  <head>
    <title>TaskMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--<script src="./app/views/companies/tab.js"></script>-->
  </head>

  <body>

    <div class="header">
      <%= render 'layouts/header' %>
    </div>

    <div class="main-visual">
      <div class="jumbotron" style="background: url(<%= asset_path "task_match背景.png" %>)center; background-size:cover;">
        <div class="row p-5">
          <div class="col-md-12">
            <div class="container col-md-2 p-4 text-center">
              <h3 style="color:#FFFFFF;"><strong>Task-Match</strong></h3><br />
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="main">
      <div class="jumbotron" style="background: url(<%= asset_path "task_match2.png" %>)center; background-size:cover;">
        <div class="text-center" style="background-color:rgba(255,255,255,0);">
      　<%= yield %>
      　</div>
      </div>
    </div>

    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>
